body {
  text-align: center;
}

.backgroundImg {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  overflow: auto;
  position: fixed;
  z-index: -1;
  opacity: 30%;
}

.hidden {
  display: none;
}

.grid-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 10px 10px 10px 10px;
}

#todo-container form input {
  width: 83%;
  height: 30px;
  margin-bottom: 5px;
}

#todo-container ul li {
  text-align: left;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid darkgray;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-container ul li:last-child {
  border-bottom: 0px;
}
